body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../images/bgimage.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.chiziq {
    width: 100%;
   max-width: 1200px;
   height: 2px;
   margin: 0 auto;
   margin-bottom: 20px;
   background-color: aqua;
   
}

.forms {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hudud {
    color: beige;
    margin-right: 60px;
}

.mins {
    color: aliceblue;
}

.shaxar {
    color: #FFC700;
}

.kun {
    margin: 0 30px;
}
.mintaqa {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.list {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    padding-left: 0;
    list-style:none;
}

.item {
    margin: 10px;
    padding: 10px;
    width: 100%;
    /* flex-shrink: 1; */
    background: rgba(255, 255, 255, 0.2);
border: 1px solid #000000;
box-shadow: 0px 10px 100px 10px rgba(255, 255, 255, 0.2);
/* filter: blur(2px); */
border-radius: 25px;
list-style-type: none;
text-align: center;
}

.wrapitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.images {
    width: 100%;
}

.tongs {
    width: 180px;
}

.tong {
    font-weight: 700;
font-size: 32px;
line-height: 46px;
color: #FFC700;

}

.times {
    font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 69px;

color: #FFFFFF;
}